<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bảng xếp hạng</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        *{
            font-size: 16px!important;
        }
        .rowChallengesList{
            margin-top: 20px;
        }
    </style>
</head>




<body>
    <% include image.ejs %>
    <% include navbar.ejs %>
    <div class="container">
        <div class="title_challenges text-center">
            <h3><strong>Mời các bạn lựa chọn gói câu hỏi</strong></h3>
        </div>
        <% challengeList.forEach (challengeListItem =>{%>
        <div class="row rowChallengesList">
            <div class="col-xs-12 col-md-3 text-center">
                <a href=""></a>  ></a> ></a> class="btn btn-primary"><%= challengeListItem.name %></a>
                <h5><%= challengeListItem.description %></h5>
            </div>
            

        </div>
        <%})%>
        
    </div>
</body>

</html>