<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            font-size: 16px!important;
        }
        .loginContainer{
            margin: 0 auto;
            max-width: 1060px;
            padding-top: 60px;
            padding-bottom: 26px;
            border-bottom: 1px solid #ededed;
            background: url(http://violympic.vn/assets/7a7f3898.jpg) no-repeat 50% 0;
            background-size: 100% auto;
        }
        .loginForm{
            max-width: 680px;
            margin: 0 auto;
            background: #fff;
            padding: 37px 40px 41px;
            border-radius: 10px;
        }
        .textLable{
            font-size: 24px;
            font-weight: bold;
            font-style: italic;
            color: #1e7e34;
            text-align: center;
        }
        .btn-success{
            font-size: 16px!important;
            float: right;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-size : 16px!important;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-size : 16px!important;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            font-size : 16px!important;
        }
    </style>
</head>

<body>

    <!-- Modal HTML -->
    <% include image.ejs %>
    <% include navbar.ejs %>
    <div class="container loginContainer">
        <div class="loginFormWrap">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-push-2">
                    <div class="textLable">
                        Đăng nhập
                    </div>
                    <form action="" id="loginForm">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="username" id="username" placeholder="Ten Dang Nhap" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" placeholder="Nhap Password" class="form-control">
                        </div>
                        <button class="btn btn-success btn-dang-nhap" type="submit">Dang Nhap</button>
                    </form>
                    <p>Chua co tai khoan? <a href="/register">Dang ki ngay</a></p>
                    <p>Tài khoản của bạn có thể dùng được cho tất cả các trang của test quizz</p>
                </div>
            </div>
        </div>
    </div>
    <% include footer.ejs %>
        
    <script>
        $('#loginForm').submit(function (event) {
            event.preventDefault()
            try {
                var data = {
                    username: $('#username').val(),
                    password: $('#password').val(),
                }
                $.ajax({
                    url: "user/login",
                    type: "post",
                    data: data,
                    success: function (result) {
                        if (result.s == 0) {
                            alert(result.errmsg);
                            if (window.location.href.indexOf('dashboard')) {
                                window.location.replace('/dashboard'); 
                            } else {
                                window.location.replace('/main/rank');
                            }
                        }
                        else {
                            alert(result.errmsg);
                        }
                    }
                })
            } catch (e) {
                alert(e.message);
            }
        })
    </script>
</body>

</html>