<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-login {
            color: #636363;
            width: 350px;
        }

        .modal-login .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .modal-login .modal-header {
            border-bottom: none;
            position: relative;
            justify-content: center;
        }

        .modal-login h4 {
            text-align: center;
            font-size: 26px;
        }

        .modal-login .form-group {
            position: relative;
        }

        .modal-login i {
            position: absolute;
            left: 13px;
            top: 11px;
            font-size: 18px;
        }

        .modal-login .form-control {
            padding-left: 40px;
        }

        .modal-login .form-control:focus {
            border-color: #00ce81;
        }

        .modal-login .form-control,
        .modal-login .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-login .hint-text {
            text-align: center;
            padding-top: 10px;
        }

        .modal-login .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .modal-login .btn {
            background: #00ce81;
            border: none;
            line-height: normal;
        }

        .modal-login .btn:hover,
        .modal-login .btn:focus {
            background: #00bf78;
        }

        .modal-login .modal-footer {
            background: #ecf0f1;
            border-color: #dee4e7;
            text-align: center;
            margin: 0 -20px -20px;
            border-radius: 5px;
            font-size: 13px;
            justify-content: center;
        }

        .modal-login .modal-footer a {
            color: #999;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
</head>

<body>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    <form action="login" method="post" id="loginForm">
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input id="username" type="text" class="form-control" placeholder="Tên đăng nhập"
                                required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input id="password" type="password" class="form-control" placeholder="Mật khẩu"
                                required="required">
                        </div>
                        <span id="errorLogin" style="color: red; display: none;"></span>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Đăng nhập">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a href="/register"> Chưa có tài khoản? Đăng kí!</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(window).load(function () {
            jQuery('#myModal').modal('show').on('hide.bs.modal', function (e) {
                e.preventDefault();
            });
        });
        $('#loginForm').submit(function (event) {
            event.preventDefault()
            try {
                var data = {
                    username: $('#username').val(),
                    password: $('#password').val(),
                }
                $.ajax({
                    url: "user/login",
                    type: "post",
                    data: data,
                    success: function (result) {
                        if (result.s == 0) {
                            alert(result.errmsg);
                            if (window.location.href.indexOf('dashboard')) {
                                window.location.replace('/dashboard'); 
                            } else {
                                window.location.replace('/main/rank');
                            }
                        }
                        else {
                            alert(result.errmsg);
                        }
                    }
                })
            } catch (e) {
                alert(e.message);
            }
        })
    </script>
</body>

</html>